 * {
  text-align: center;
}

header, .instructions, .question-box {
  border: 2px, black, solid;
  background-color: gray;
  max-width: 800px;
  margin: 30px auto 100px auto;
  padding: 15px;  
}

body {
  background-image: url('https://images.app.goo.gl/bmTBiZEPcDXS5oKG9');
  background-color: lightgray;
}
